body {
  /*max-width: 960px;
}*/
#my-pic {
  position: absolute;
  top: 195px;
  left: 730px;
  display: inline;
  width: 200px;
  border-radius: 15px;
  border: 2px solid black;
}

#sport {
  display: none;
}
