body {
/*min-width: 600px;*/
}

#my-pic {
  position: absolute;
  top: 190px;
  right: 70px;
  width: 150px;
  border-radius: 15px;
  border: 2px solid black;
  display: inline;
}

#sport {
  display: none;
}
