#personal, #education, #background, #languages, #experiences, #skills, #hobbies, #referens, #strucure, #header {
  box-shadow: none;
  border: none;
}

#experiences {
  margin-top: 10em;
  
}

div, body {
  border: none;
}
.somename1, .somename2, .somename3 {
  display: none;
}

ul {
list-style: none;

}

#my-pic {
  position: absolute;
  left: 610px;
  top: 150px;
  border-radius: 15px;
  border: 2px solid black;
	width: 220px;
  display: inline;
}

#sport {
  display: none;
}

a {
  color: black;
}

#experiences {
  padding-top: 1em;
}



h1 {
  color: black;
  font-style: oblique;
  text-align: center;
}

#row1 {
  margin-bottom: 5em;
}

h2 {
  color: black;
  font-weight: bolder;
}
