#my-pic {
  display: none;
}

#sport {
  position: absolute;
  top: 135px;
  right: 1%;
  border-radius: 15px;
  border: 2px solid black;
	width: 150px;
  display: inline;
}

div {
  border: 1px solid rgba(15, 15, 15, 1);
  padding: 1em;
}

div.main {
  padding: .5em;
  margin: .5em;
}
