img {
  position: absolute;
  top: 135px;
  right: 1%;
  border-radius: 15px;
  border: 2px solid black;
	width: 150px;

}

h1 {
  background-color: dimgray;
  color: white;
}

h2 {
  margin-left:.3em;
  background-color: lightgrey;
  font-color= purple;
}

#personal:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#education:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#background:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#languages:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#experiences:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#skills:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#hobbies:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#referens:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}

#strucure:{
  border: 1px groove dimgray;
  box-shadow: 2px 4px gray;
  width: auto;
}
