body {
/*  max-width: 1200px;
}*/

#my-pic {
  top: 195px;
  left: 970px;
  display: inline;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;
}

#sport {
  display: none;
}
