body {
  max-width: 1200px;
}
#my-pic {
  top: 100px;
  left: 1000px;
  display: inline;
  width: 200px;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;

}

#sport {
  display: none;
}

div {
  border: 1px solid rgba(15, 15, 15, 1);
}
